<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
</head>
<body>

<h1>Main Page</h1>

<h3>Upload Folder</h3>
<form th:action="@{/folders/upload}"  enctype="multipart/form-data" method="post" th:object="${folderUploadRequest}">

    <label for="file1">File:
        <input id="file1" type="file" name="files" th:field="*{files}" required webkitdirectory class="form-control ">
    </label><br>

    <input type="hidden" name="parentPath" th:value="${path}">

    <button type="submit">Upload</button>
</form>

<h3>Create Folder</h3>
<form th:action="@{/folders/create}" method="post" th:object="${folderCreateRequest}">

    <label for="new">Name Folder:
        <input id="new" type="text" name="new" th:field="*{folderName}">
    </label><br>

    <input type="hidden" name="parentPath" th:value="${path}">

    <button type="submit">Create</button>
</form>

<br>

<h3>Upload File</h3>
<form th:action="@{'/files/upload?path=' + ${path}}"  enctype="multipart/form-data" method="post" th:object="${fileRequest}">

    <label for="file">File:
        <input id="file" type="file" name="phone" th:field="*{file}">
    </label><br>

    <button type="submit">Upload</button>
</form>

<br>

<h3>Files</h3>
<a th:text="'Корень: /'" th:href="@{/main}"></a> <br>
<span>Current Path</span>
<span th:each="breadcrumb : ${currentUrl}">
    <a th:text="${breadcrumb}" th:href="@{'/main?path=' + ${links.get(breadcrumb)}}"></a>
    <span>/</span>
</span>
<div th:each="key : ${paths.keySet()}">
    <a th:text="${key.name}" th:href="@{'/main?path=' + ${paths.get(key)}}"></a>
    <span th:text="${key.isDir} ? 'DIR' : ''"></span>

    <form th:if="${!key.isDir}" th:method="POST"  th:action="@{'/files/delete?path=' + ${path} + '&filename=' + ${key.name}}">
        <button type="submit">Delete</button>
    </form>

    <form th:if="${!key.isDir}" th:method="POST"  th:action="@{/files/rename}" th:object="${fileRenameRequest}">

        <input type="hidden" name="path" th:value="${path}">
        <input type="hidden" name="currentName" th:value="${key.name}">

        <label for="new_name">
            <input id="new_name" type="text" th:field="*{updatedName}">
        </label>

        <button type="submit">Rename</button>
    </form>

    <br>
</div>

<a href="/search">Search File</a>

</body>
</html>